/* Links inside bibliography note/periodical lines */
.bibliography .periodical a {
    text-decoration: underline;
    opacity: 0.85;
  }

 /* Smaller social icons in the About page footer */
.social .contact-icons i,
.social .contact-icons svg,
.social .contact-icons img {
  width: 3rem;
  height: 3rem;
  font-size: 3rem;  /* for <i> font icons */
}

/* Brighten publication section headings */
.publications h2.bibliography {
    color: var(--global-text-color) !important;
    opacity:0.8;
    border-top: 1px solid var(--global-text-color) !important; /* optional */
    text-align: right !important;  /* optional */
    font-size: 1.8rem;
  }